/* frontend/assets/css/styles.css */

/* ... */

/* Estilos del index */

#index-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }
  
  #index-section .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #index-section .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  #index-section .presentation {
    text-align: center;
    color: var(--text-color);
    z-index: 1;
  }
  
  #index-section .presentation h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  #index-section .presentation p {
    font-size: 18px;
  }
  
  #index-section .presentation .explore-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  #index-section .presentation .explore-button:hover {
    background-color: #345995;
  }

  