.certifications-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .certification-item {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 20px;
    text-align: center;
  }
  
  .certification-item img {
    width: 45%; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
  }
  @media screen and (max-width: 750px) {
    .certification-item img {
        width: 65%; /* Ajusta el tamaño de la imagen según tus necesidades */
      }
  }
  
  .certification-description {
    margin-top: 10px;
    color: var(--text-color);
  }
  