
.projects-container {
  display: flex;
  flex-direction: column; /* Cambiar a dirección de columna para mostrar los proyectos uno arriba del otro */
}
  @media screen and (max-width: 768px) {

  }
  
  @media screen and (max-width: 480px) {

  }
  
  .projects-item {
    display: flex; /* Para que todos los proyectos tengan el mismo tamaño */
    align-items: center; /* Centrar verticalmente el contenido */
    width: calc(100% - 400px); /* Ocupa casi el ancho de la pantalla con márgenes derecho e izquierdo */
    margin: 10px 200px; /* Margen superior e inferior de 10px y márgenes derecho e izquierdo de 20px */
    background-color: #FFFFFFB2; /* Fondo color #FFFFFFB2 */
    border-radius: 5px;
    overflow: hidden;
  }
  
  .projects-item img {
    width: 30%; /* Toma la mitad del ancho del proyecto para la imagen */
    height: auto; /* Mantener la proporción de aspecto */
    object-fit: cover;
  }

  .project-details {
    flex-grow: 1; /* Para que el contenido ocupe el espacio restante */
    padding: 20px; /* Espaciado interior */
  }

  .project-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .project-description {
    font-size: 16px;
  }
  